{% extends 'back/base.html.twig' %}

{% block title %}Tous les technos{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 mb-3">
            <h1>Liste des technos</h1>
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <a href="{{ path('admin_techno_add') }}" class="btn btn-success">Ajouter une techno</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Logo</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Lien</th>
                    <th scope="col" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for techno in technos %}
                <tr class="table-light">
                <td><img src="{{ techno.logo }}" alt="" width="80px"> </br></td>
                <td>{{ techno.name }}</td>
                <td>{{ techno.link }}</td>
                <div class="d-inline">
                    <td class="text-center"><a class="btn btn-warning" href="{{ path('admin_techno_edit', {id: techno.id}) }}">Edit</a></td>
                    <td>
                        <form action="{{ path('admin_techno_delete', {id: techno.id}) }}" method="POST">
                        {# for this to work in delete method=> Request::enableHttpMethodParameterOverride(); in public/index.php (https://symfony.com/doc/current/reference/configuration/framework.html#http-method-override) #}
                            {# Fake HTTP Method #}
                            <input type="hidden" name="_method" value="DELETE"/>
                            {# CSRF Token #}
                            <input type="hidden" name="token" value="{{ csrf_token('delete-techno') }}"/>
                            {# Delete button and confirmation #}
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Del
                                </button>
                                <div class="dropdown-menu">
                                    <button class="btn btn-danger dropdown-item" type="submit">Oui, je veux supprimer</button>
                                    <a class="dropdown-item" href="#" data-toggle="dropdown">Oups, annuler&nbsp;!</a>
                                </div>
                            </div>
                        </form>
                    </td>
                </div>
                </tr>
            {% endfor %}
            </tbody>
            </table>    
        </div>
    </div>
</div>
{% endblock %}
