{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    {{ form_row(form.name) }}
    {{ form_row(form.yearStart) }}
    {{ form_row(form.description) }}

    {# ---------- adding a FEATURE directly in the form ------------ #}
    {# store the prototype on the data-prototype attribute #}
    {{ form_label(form.features) }}
    <ul id="feature-fields-list"
        data-prototype="{{ form_widget(form.features.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.features|length }}">
    {% for featureField in form.features %}
        <li>
            {{ form_errors(featureField) }}
            {{ form_widget(featureField) }}
        </li>
    {% endfor %}
    </ul>

    <button type="button"
        class="add-another-collection-widget"
        data-list-selector="#feature-fields-list">+ feature</button>
    {# --------------------------------------- #}

    {{ form_row(form.gitLink) }}
    {{ form_row(form.webLink) }}
    {{ form_row(form.techno) }}

    {# ---------- adding an IMAGE directly in the form ------------ #}
    {# store the prototype on the data-prototype attribute #}
    {{ form_label(form.images) }}
    <ul id="image-fields-list"
        data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.images|length }}">
    {% for imageField in form.images %}
        <li>
            {{ form_errors(imageField) }}
            {{ form_widget(imageField) }}
        </li>
    {% endfor %}
    </ul>

    <button type="button"
        class="add-another-collection-widget"
        data-list-selector="#image-fields-list">+ image</button>
    {# --------------------------------------- #}

    {# we need to hide those div element as they are already rendered by the prototypes above #}
    {{ form_widget(form.features, {'attr': {'type': 'hidden'}}) }}
    {{ form_widget(form.images, {'attr': {'type': 'hidden'}}) }}

    <button type="submit">Créer</button>
{{ form_end(form) }}